body{
    font-family: "Open Sans",Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #29292c;
    -web-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
}

body,html{
    height: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px;
}

.main-page-wrapper{
    background: url("./img/decor/lion-header.jpg")center top no-repeat, 
    url("./img/decor/lion-small.jpg") right bottom -300px no-repeat;
    background-size: contain;
}

.logo__img{
    width: 70px;
    height: 50px;
    margin-top: -50px;
    
}

 a{
    color: inherit;
}

ul{
    padding: 20px;
    margin: 20px;
}

li{
    display: inline-block;
}

ul li{
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
}

h2{
    font-weight: normal;
}

p{
    margin-top: 0;
}

*{
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

.container{
    margin: 0 auto;
    width: 1140px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
}

.header{
    padding-top: 45px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    height: 94px;
    align-items: center;
}

.header__col{
    display: flex;
    align-items: center;
}

.header__col--align--right{
    justify-content: flex-end;
}

.logo{
    display: block;
    margin-right: 100px;
    margin-top: 58px;
}

.contacts{
    font-style: normal;
    text-align: right;
}

.contacts__desc{
    color: #999;
    font-size: 11px;
}

Бесплатный звонок по России


.menu__list{
    margin: right 50px;
}

.menu___item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

.menu___item:last-child{
    margin-right: 0px;
}

.menu__link{
    margin-right: 30px;
    font-size: 14px;
    text-decoration: none;
}

.menu__link:last-child{
    margin-right: 0px;
}

.menu__link:hover{
    color:#dfb56d;
}

.contacts__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title{
    font-size: 13px;
    text-decoration: underline;
    color:#dfb56d;
}

.hero__text-section{
    width: 38%;
    width: 400px;
}

.hero__title{
    font-size: 25px;
    font-weight: bold;
    line-height: 1.1;
    vertical-align: text-top;
    margin-bottom: 18px;
    width: 248px;
}

.hero__subtitle{
    font-size: 18px;
    color: #dfb56d;
    margin-bottom: 45px;
}

.btn{
    background: #dfb56d;
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.btn--color--ginger:hover{
    background: #dfb56d;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15) #dfb56d;
}

.btn--color--black{
    background: #202123;
}

.btn--color--black:hover{
    background: #202123;
}

.section{
    margin-bottom: 100px;
}

.sections{
    margin-top: 250px;
    margin-bottom: 50px;
}

.section__title{
    font-size: 36px;
    font-weight: bold;
}

.offers{
    display: flex;
    justify-content: space-between;
}

.offers__item{
    width: 355px;
}

.offer{
    min-height: 470px;
    width: 355px;
    background: #fff;
    border-radius: 4px;
    margin-right: 16px;
    color: #010001;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.offer:last-child{
    margin-right: 0px;
}

.offer__item--theme--grey .offer__header:before{
    background: #a5a5a4;
    }

.offer__item--theme--blue .offer__header:before{
    background: #556180;
    }
.offer__item--theme--gold .offer__header:before{
    background: #978455;
    }

.offer__header{
    min-height: 152px;
    margin-bottom: 28px;
    position: relative;
    padding-top: 0;
}

.offer__header:before{
    content: "";
    width: 284px;
    height: 284px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    right: -100px;
    background: #ccc;
}

.offer__header-img{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -44px;
    margin-top: 18px;
    width: 90px;
}

.offer__content{
    padding: 36px 30px;
    padding-top: 24px;
    color: #010001;
}

.offer__title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

.offer__prices-cell{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin-right: 30px;
}

.offer__prices-cell:last-child{
    margin-right: 0;
}

.offers__price{
    font-size: 36px;
}

.offers__price-desc{
    color: #333;
}

.offer__prices{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.offer__btn-wrapper{
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.news{
    margin-top: 50px;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;

}

.single-news{
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 25px;
}

.news__item{
    width: 555px;
    height: 392px;
    margin-right: 25px;
    flex: 1;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.news__item:last-child{
    margin-right: 0;
}

.single-news__cover{
    display: block;
    width: 570px;
    height: 100%;
    object-fit: cover;
    opacity: .4;
}

.single-news__text-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    min-height: 235px;
}

.single-news__date{
    font-size: 15px;
    margin-bottom: 18px;
    text-transform: lowercase;
    display: block;
}

.single-news__title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.pager{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pager--theme--light{
    color: #202123;
}

.pager--theme--light .pager__item--active .pager__link{
    color: #fff;
    background: #353538;
}

.pager--theme--light .pager__link:hover{
    color: #fff;
    background: #353538;
}

.pager__display{
    margin-right: 19px;
}

.pager__list{
    display: flex;
    align-items: center;
}

.pager__item{
    text-align: center;
}

.pager__item--active.pager__link{
    background: #353538;
}

.pager--theme--light{
    color: #202123;
}

.pager--theme--light .pager__item--active .pager__link{
    color: #fff;
    background: #353538;
}

.pager--theme--light .pager__link:hover{
    color: #fff;
    background: #353538;
}

.pager__display,.pager__link{
    display: inline-block;
    vertical-align: middle;
}

.pager__item--active.pager__link{
    background: #353538;
}

.pager__link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.pager__link:hover{
    background: #353538;
}

.about{
    display: flex;
}

.about:before,
.about__desc{
   border-radius: 4px;
}
.about:before{
    content: "";
    display: inline-block;
    width: 600px;
    height: 502px;
    background: url("./img/decor/chess.jpg") center center/cover no-repeat;
    display: block;
}

.about__desc{
    background: #202123;
    padding: 80px 98px;
    width: 780px;
    display: inline-block;
    vertical-align: top;
    margin-left: -142px;
    margin-top: 166px;
}

.about__title{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
}
.about__desc-text{
    margin-bottom: 42px;
}

.about__desc-text p{
    margin-bottom: 20px;
    line-height: 1.7;
}

.about__desc-text p:last-child{
    margin-bottom:0;
}

.footer-container{
    margin-top: auto;
}

.footer-container__section{
    height: 140px;
    margin-top: 12px;
}

.footer-container__content{
    border-top: 1px solid #353538;
}

.footer {
    height: 152px;
    position: relative;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col{
    display: flex;
    align-items: center;
}

.footer__col--align--right{
    align-items: flex-end;
    margin-left: 150px;
}

.socials__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}

.socials{
    margin-right: 74px;
    margin-bottom: 0px;
}

.socials__item:last-child{
    margin-right: 0;
}

.socials__link{
    display: block;
    text-decoration: none;
    width: 32px;
    height: 32px;
    background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link{
    background-image: url("./img/icons/telegram.png");
}

.socials__item--icon--telegram .socials__link:hover{
    background-image: url("./img/icons/telegram-hover.png");
}

.socials__item--icon--vk .socials__link{
    background-image: url("./img/icons/vk.png");
}

.socials__item--icon--vk .socials__link:hover{
    background-image: url("./img/icons/vk-hover.png");
}


.socials__item--icon--fb .socials__link{
    background-image: url("./img/icons/fb.png");
}

.socials__item--icon--fb .socials__link:hover{
    background-image: url("./img/icons/fb-hover.png");
}

.socials__item--icon--insta .socials__link{
    background-image: url("./img/icons/insta.png");
}

.socials__item--icon--insta .socials__link:hover{
    background-image: url("./img/icons/insta-hover.png");
}

.top-line{
    min-height: 415px;
    display:flex;
    flex-direction: column;
    padding-bottom: 25px;
    background: #202123 url("./img/decor/lion-small.jpg") right  50% top no-repeat;
}

.top-line__container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.page-title{
    font-size:72px;
    line-height:1;
    font-weight: bold;
}

.breadcrumbs__list{
    display: flex;
    align-items: center;
}

.breadcrumbs__item{
    display: flex;
    align-items: center;
    margin-right: 3px;
}

.breadcrumbs__item--active .breadcrumbs__link{
    color:#999999;
    text-decoration: none;
}

.breadcrumbs__item:after{
    content: "/";
    color:#999;
}

.breadcrumbs__item:last-child:after{
    display: none;
}

.breadcrumbs__link{
    color: #dfb56d;
    font-size: 14px;
}

.page-content{
    background: #fff;
    color:#818181;
    padding: 40px 0; 
}

.service{
    display: flex;
    padding: 58px 43px;
    text-decoration: none;

}.service:hover{
    background: #f4f5f5;
}

.service:hover .service__btn{
    background: #dfb56d;
}

.services__item{
    margin-bottom: 16px;
}

.service__img{
    width: 30%;
    margin-right: 7%;
}

.service__content{
    flex: 1;
}

.service__title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 22px;
    color: #202123;
}

.service__desc{
    line-height: 1.7;
    margin-bottom: 30px;
}

.inner-section{
    background: #fff;
    color:#202123;
    padding: 95px 0;
}

.inner-section--bg--grey{
    background: #f4f5f5;
}

.inner-section__title{
    font-size:48px;
    font-weight:bold;
    margin-top: 30px;
    margin-bottom: 75px;
}

.partners{
    display: flex;
    flex-wrap: wrap;
    margin-left: -46px;
}

.partners__item{
    margin-left: 46px;
    filter: grayscale(100%);
}

.partners__item:nth-child(2){
    margin-left: 95px;
}

.partners__item:nth-child(6){
    margin-top: 20px;
}



/*.partners__item:nth-child(4n + 1){
    margin-left: 0;
} */

.partner__link{
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);

}

.partner__link:hover{
    filter: grayscale(0);
}

.inner-footer__container{
    padding: 45px 0;
}

.inner-footer{
    margin-top: auto;
}